/*build/

/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.fdb_latexmk
/doc/*.fls
/doc/*.log
/doc/*.pdf
/doc/*.spl
/doc/*.synctex.gz

/.vscode
/.project


# generated input files:
/Calculations/*_p*q*r*_*.prm
/Calculations/run.sh
